<html>
  <head>
    <meta charset="utf-8">
    <title>enmity</title>
    <link rel="stylesheet" href="enmity.css">
  </head>

  <body id="enmity" v-class="resize-handle: !locked">
    <div class="outer {{hide ? 'hide' : ''}}">
      <div class="inner">
        <div class="background"></div>

        <div v-if="!updated" class="gold">
          <span>No data to show.</span>
        </div>

        <div v-if="updated">
          <div id="target">
            <div class="header">
              <div class="distance">{{target.Distance}}m ({{target.EffectiveDistance}}m)</div>
              <div class="name">{{target.Name}}</div>
            </div>
            </div>
          </div>

          <div id="entries">
            <div class="box" v-repeat="e: entries">
              <div class="content">
                <span class="name {{e.isMe ? 'me' : '' }}">{{$index + 1}}.{{e | you}}{{e.JobName=="UNKNOWN" ? "" : " ("+e.JobName+")"}}</span>
                <div class="enmity">
                  <span class="enmity-value">{{e.EnmityString}}</span>
                  <div class="enmity-diff">{{{enmityDiff(entries, $index)}}}</div>
                </div>
              </div>
              <div class="gauge {{e | jobclass}}" style="width: {{e.HateRate}}%" /></div>
          </div><!-- entries -->

        </div><!-- if updated -->
      </div><!-- inner -->
    </div><!-- outer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>
    <script src="enmity.js"></script>
  </body>
</html>
